<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation-flex.min.css">
	<link rel="stylesheet" type="text/css" href="todos.css">
	<!-- <link rel="stylesheet" href="style3.css"> -->
</head>
<body>
	<form action="{% url 'todos:create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create" />
    </form>
	
</body>
</html>