<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation-flex.min.css">
	<!-- <link rel="stylesheet" href="style3.css"> -->
</head>
<body>
	<h1> Update?</h1>

<form action="{% url 'todos:details' id=todos.id%}" method = "POST">
        {% csrf_token %}

 		{{ form.as_p }}
        <input type="submit" value="Update" />
    </form>


    <form action="{% url 'todos:delete' id=todos.id%}" method="POST">
        {% csrf_token %}


        <input type="submit" value="Delete">
    </form>

</body>
</html>